[2022-09-16 14:36] fabsx00 opened #1757 "javasrc2cpg: member variable initialization missing"
For the following code
[code]
two `MEMBER` nodes are created, but the literals and initializations are nowhere to be found in the graph. I take it they should be present in the artificial constructor function?

[2022-09-16 17:14] fabsx00 commented on #1757
Looking at the code in the OSS data flow tracker, the expected behavior is that there is a method called `<clinit>`, which contains the assignments `x = 10;` and `a = "foo"`.

[2022-09-16 17:32] fabsx00 opened #1758 "jssrc2cpg: member initialization missing"
Similar to https://github.com/joernio/joern/issues/1757 (javasrc), jssrc2cpg also does not represent member initializations in the following code:

[code]

My suggestion would be to model it in the exact same way as it is done by the Java frontend. That way, the ossdataflowengine will pick this up correctly.

[2022-09-16 17:43] max-leuthaeuser commented on #1758
Oh it's in there: https://github.com/joernio/joern/blob/413bc9964913653bde7473037c071897b352ff19/joern-cli/frontends/jssrc2cpg/src/test/scala/io/joern/jssrc2cpg/passes/ast/TsAstCreationPassTest.scala#L82 (example as enum, but for classes it's the same)
We put the assignment calls inside of a fake <sinit> method. Same for c2cpg.

[2022-09-16 17:56] fabsx00 commented on #1758
Oh, weird: I used `joern-parse` on a directory containing only a single `foo.js` file and it ended up using `JAVASRC` as opposed to `JSSRC`. I now used `joern-parse --language jssrc`, and that leaves me with a CPG that's pretty much empty.

[2022-09-16 19:10] max-leuthaeuser commented on #1758
That's a different problem I guess.
The initialization fix is here: https://github.com/joernio/joern/pull/1759

[2022-09-17 05:17] #1758 closed

[2022-09-19 09:22] johannescoetzee commented on #1757
The `<clinit>` method exists for java2cpg (and presumably for plume as well), so that may explain the data flow tracker code. javasrc2cpg also has a unit test for this that's been hiding in a `pendingUntilFixed` block, so this has probably been broken for quite a while now.

[2022-09-19 12:05] #1514 closed

[2022-09-20 10:48] #1757 closed

[2022-09-20 10:48] fabsx00 opened #1768 "ossdataflowengine: tracking from `MEMBER`s"
Tracking from `MEMBER` nodes is actually implemented, however, `MEMBER` does not inherit from `CFG_NODE` and `reachableBy` requires all source nodes to derive from `CFG_NODE`. Leaving this here as a note.

[2022-09-20 11:47] #1768 closed

[2022-09-26 21:12] fabsx00 opened #1782 "jssrc2cpg: last child of `METHOD` node is `MODIFIER`"
The CfgCreator expects the last child of a `METHOD_NODE` to be a `METHOD_RETURN` node, that is, the child with the highest `order` should be of type `METHOD_RETURN`.  For `jssrc2cpg`, this is not always the case. In particular, I found that `MODIFIER` nodes can appear that have a higher index than the `METHOD_RETURN` nodes of the same function.

Example:
[code]
yields

[code]

[2022-09-26 21:19] fabsx00 commented on #1782
It probably makes sense for us to install a check in the `CfgCreator` that detects ASTs where the last child of a `METHOD` node is not a `METHOD_RETURN` node. Later on, we may want to even introduce a utility method for `x2cpg` that is used in the construction of method ASTs and makes it hard to create a method AST where the last child is not of type `METHOD_RETURN`.

[2022-09-26 21:32] fabsx00 commented on #1782
It actually turns out we have such a function (`methodAst`) and that we're just not passing the modifiers to it.

[2022-09-27 04:03] #1782 closed

[2022-09-27 12:11] fabsx00 opened #1787 "jssrc: `dump` feature not enabled"

[2022-09-28 06:21] max-leuthaeuser commented on #1787
Isnt it working since https://github.com/joernio/joern/pull/1763?

[2022-09-29 07:21] anushka192001 opened #1793 "how to directly get cpg files in .json format instead of .svg ?"
how to directly get cpg files in .json format instead of .svg ?

as we want cpg in .json format to train a graph neural network for our project.

[2022-09-29 07:40] mpollmeier commented on #1793
AFAIK so far we only offer dot, graphml and neo4jcsv: https://github.com/ShiftLeftSecurity/overflowdb/tree/master/formats/src/main/scala/overflowdb/formats
We're happy to include contributions for more formats.

A workaround might be to convert the graphml (xml) to json...

Not sure why you mention svg, do we support that in some form?

[2022-09-30 11:41] fabsx00 commented on #1787
Doesn't look like it, no:
[code]

Looks like the highlighter doesn't support the language.

[2022-09-30 18:59] #1787 closed

[2022-10-03 13:48] anushka192001 commented on #1793
@mpollmeier can i also not import the CPGs of my code files  into neo4j instance running on neo4j desktop and from there i can download the .json format files?

if yes then how can i do it using your joern library?

![image](https://user-images.githubusercontent.com/63954873/193593263-e315dc15-e703-4348-ad03-86ef695e99f5.png)

also ,
if not .json format then in what format i can get from your libr

[2022-10-04 06:35] mpollmeier commented on #1793
have you tried https://docs.joern.io/exporting?

[2022-10-04 12:06] anushka192001 commented on #1793
@mpollmeier ,yes i tried , here its giving me in these three formats
![image](https://user-images.githubusercontent.com/63954873/193815099-5644b474-78df-47b6-aab1-229f7979cce7.png)

 but i am not figuring out how to export cpgs to neo4j instance and then download .json from there.

[2022-10-06 13:55] anushka192001 commented on #1793
@mpollmeier would you please elaborate what you said?

[2022-10-07 18:27] setharnold opened #1813 "secure_sprintf not actually secure"
https://github.com/joernio/joern/blob/5092f5858fbf8aa73947c6c6ebf9dc35994c3942/querydb/src/main/scala/io/joern/scanners/c/DangerousFunctions.scala#L105

[code]

Hello, I'd like to suggest this not be named `secure_sprintf` in the help output because this function is still prone to an `%n` in `argv[2]` causing a write somewhere in the address space.

https://owasp.org/www-community/attacks/Format_s

[2022-10-11 02:13] Liyw979 opened #1823 "Why add reaching def edges from method node to other nodes inside method?"
After deleting this line, dataflow tests are still passing.

https://github.com/joernio/joern/blob/b632888427b04c49cd2215668f9b9e0b361c39cb/dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/passes/reachingdef/DdgGenerator.scala#L167

Addding edges between them dose not make sence for dataflow tracking algorithm.

[2022-10-11 10:23] fabsx00 commented on #1823
The `METHOD` node is used as the entry node, and in the original definition of the program dependence graph, it is stated that any nodes without incoming reaching definitions should be connected to the entry node.

[2022-10-12 09:07] Liyw979 opened #1830 "How can we support dataflow tracking crossing closure?"
`
const a = 47;
function foo() {
  fn(a);
}
`
Since DdgGenerator is applied to each method separately,
when adding reaching def for ```fn(a)```  in method ```foo```,
it couldn't find ```a``` in method ```:program```

[2022-10-12 09:11] fabsx00 commented on #1830
I've actually starting looking into this very recently and provided some basic support here: https://github.com/joernio/joern/pull/1781/files#diff-afb5c19d03ad15d4ad7e4d95280e9b70f5e434466d8eb2f414ae4444fd35741bL545 - if you can provide a few cases that aren't working, I'd be happy to take a look.

[2022-10-12 09:14] Liyw979 commented on #1830
[code]

[2022-10-12 09:28] Liyw979 commented on #1830
I do try creating new a task when ```expandIn``` for ```a``` returns only ```this```.
The new task will find a identifier whoes name is ```a``` in the ast parent method ```:program```.
And use it as a source node.
Howerver, this does not sound like a perfect solution.

[2022-10-12 10:17] Liyw979 commented on #1562
https://github.com/joernio/joern/tree/master/joern-cli/frontends/javasrc2cpg/src/test/scala/io/joern/javasrc2cpg/querying/dataflow

[2022-10-12 20:06] itsacoderepo commented on #1830
This is not starting from the literal "47" but from the identifier "a"
[code]
and should give you
[code]

[2022-10-13 01:40] Liyw979 commented on #1630
How about introducing a new pass to scan where```member``` in ```typedecl``` is read or assignment?

[2022-10-13 10:55] fabsx00 opened #1840 "Graphson support for `joern-export`"
Now that overflowdb offers graphson support (https://github.com/ShiftLeftSecurity/overflowdb/pull/326), let's make it available via `joern-export`.

[2022-10-13 12:13] anushka192001 opened #1842 "script in JOERN is not working properly ."
when i am writing script in JOERN  library to parse the files and saving its CPG's in graphml format in the folder named as that of thiers  but getting error.?

what i must change here?
![image](https://user-images.githubusercontent.com/63954873/195593056-fdf1de3b-3799-42cc-9cf8-1097b4e5553d.png)

![image](https://user-images.githubusercontent.com/63954873/195694301-ba330d62-3a0c-46c8-af6f-93ed00e

[2022-10-13 15:50] #1840 closed

[2022-10-14 08:13] DavidBakerEffendi commented on #1459
This is being succeeded by a new approach regarding modelling the method semantic summaries in a more advanced way

[2022-10-14 08:13] #1459 closed

[2022-10-14 09:22] INT2ECALL opened #1850 "The control flow graph is not empty, butdominates call returns an empty list"

[2022-10-14 09:23] #1850 closed

[2022-10-14 09:31] INT2ECALL opened #1851 "The CFG is not empty, but dominates property returns an empty list??"
This is my code:

[code]

Why the dominates property return an empty list？
![image](https://user-images.githubusercontent.com/91420400/195812301-5fe3f765-6075-403c-a097-01281acc12c6.png)

This is the CFG of the method digester:

![0](https://user-images.githubusercontent.com/91420400/195813222-457ca03b-f7b7-4e7f-bc7c-628ef4b3ad74.png)

[2022-10-14 09:40] #1851 closed, assigned to nobody

[2022-10-14 13:11] fabsx00 commented on #1842
You put a shell script inside a scala function, so, that can't work. You would have to execute that script directly on the shell, that is, put it in a file called `script.sh` and run that with `sh script.sc`. The `@main def exec() = {` and the last `}` would need to be removed.

[2022-10-14 13:11] #1842 closed

[2022-10-17 11:41] anushka192001 commented on #1842
@fabsx00  can you suggest me , which format is best for generating embeddings like graphson(json) or graphml(xml) ?

[2022-10-17 16:48] fabsx00 commented on #1793
`joern-export` now supports exporting to json: https://github.com/joernio/joern/pull/1845

[2022-10-17 16:48] #1793 closed

[2022-10-19 08:08] Liyw979 opened #1865 "Should we create AST link between TypeDecl and method stub?"
code sample
[code]
<img width="1673" alt="image" src="https://user-images.githubusercontent.com/16919236/196632560-0b1d96ab-d120-49d5-a79a-affa16e84f71.png">

https://github.com/joernio/joern/blob/5c2d05745c3f0e1468eb477eadc3f0c8b4ad749c/joern-cli/frontends/x2cpg/src/main/scala/io/joern/x2cpg/passes/callgraph/DynamicCallLinker.scala?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%

[2022-10-19 16:42] fabsx00 opened #1870 "jssrc2cpg: dealing with `const foo = (x,y) => { ... }`"
The following failing test case illustrates a problem with currently have when analyzing type script code:
https://github.com/joernio/joern/compare/master...fabs/flowconst#diff-afb5c19d03ad15d4ad7e4d95280e9b70f5e434466d8eb2f414ae4444fd35741bR600

For a function defined anonymously and assigned to a constant, we swallow the assignment to the constant and the name of the function remains unknown in

[2022-10-19 19:20] max-leuthaeuser commented on #1870
There should be an assignment to a METHOD_REF linked to the corresponding METHOD node. Otherwise this is a serious bug. I'll have a look tomorrow.

[2022-10-20 09:23] fabsx00 commented on #1870
Alright, let me take another look. I got back an empty `cpg.assignment.l` yesterday, but maybe I did something wrong.

[2022-10-20 10:33] fabsx00 commented on #1870
You're right, there was a typo in the code I used to test this on the joern shell. So, that means, we do actually have the assignment, but the data flow engine isn't picking this up. I'm still wondering whether we shouldn't just interpret `const foo = $lambda` in a pass. I'll continue to investigate.

[2022-10-20 14:51] #1870 closed

[2022-10-21 09:40] anushka192001 opened #1876 "by using this joern library , i want CPG in ideal format as given in research papers in which CFG and AST nodes must not connected ."
using your Joern library ,
lets say for this -

void foo () {
  int x = source();
  if(x < MAX) {
    int y = 2*x;
    sink(y);
  }

 i am getting CPG in this format

![image](https://user-images.githubusercontent.com/63954873/197165183-2bbe497a-8104-4fc8-99af-e37138274272.png)

but i want in this format
![image](https://user-images.githubusercontent.com/63954873/197165293-9f2321fb-43dc-4057-ad4b-

[2022-10-21 09:44] anushka192001 commented on #1876
also your CPG is giving whether there is CFG,AST or PDG  relations between the nodes but it is not giving what type of relation in each of these layers say what like of PDG relations or what kind of AST  or CFG  relations? like False PDG relation or Ctrue PDG relation?

[2022-10-21 22:13] longswordinhand opened #1880 "where is the folder of joernIndex"
I install joern by following the step in "Quick Installation". After I run the joern, I can not find the folder of joernIndex. Your helps are appreciated.

[2022-10-23 09:54] itsacoderepo commented on #1880
Hello longswordinhand,

you are probably expecting the outcome of an old version of joern, while using the latest version.

Unfortunately, your text is not giving any hints about what you want to achieve, so that i cannot give you any advise but just to read the documentation: https://docs.joern.io/home.

[2022-10-23 09:54] #1880 closed

[2022-10-23 11:59] tuxology commented on #1842
@anushka192001 Please be mindful of Joern contributors' time. You have cross-posted this exact question on 15 other repositories

![image](https://user-images.githubusercontent.com/3373857/197390383-230e2569-4fbf-40bf-8510-35d61aa98879.png)

While this might be urgent to you in your own mind, actual OSS contributors here don't share the same urgency - they don't function like this or owe you anyth

[2022-10-24 03:11] longswordinhand commented on #1880
Could you please which version can output the joernIndex files?
Thanks.

[2022-10-24 12:29] fabsx00 commented on #1865
I see, interesting. Well, the AST edge between the `TypeDecl` named `Foo` and `tmp`/`init` exists because those two are defined inside `Foo`. The method stub for `print` isn't defined in `Foo`, but I believe if should be linked to some `<global>` type declaration as a placeholder. If that isn't the case, then that's a bug, I think.

[2022-10-24 12:48] fabsx00 commented on #1830
Looking into this at some point this week.

[2022-10-24 16:24] fabsx00 opened #1893 "joern-export: allow exporting separate methods"
Specifically (or at least for) the graphson output, it would be great if we could export graphs per method as we do with the dot exporter. It's clear that we end up discarding parts of the CPG that aren't inside methods, but that's fine. It would also be important here that we can match method names and graphson file in the output.

[2022-10-25 07:13] Liyw979 commented on #1865
@fabsx00 please check this test case
[code]
I find out that creating a ```AST``` link between ```TypeDecl``` and ```method stub``` can make the test pass.
But the root casue is https://github.com/joernio/joern/blob/110fc6ac226e6837547474bcc4459c7c079cfa8d/semanticcpg/src/main/scala/io/shiftleft/semanticcpg/language/types/structure/TypeDeclTraversal.scala#L30-L31
```method``` should return not only

[2022-10-25 08:10] Liyw979 opened #1895 "Dispatch Type?"
[code]
<img width="550" alt="image" src="https://user-images.githubusercontent.com/16919236/197719094-a6cff3a7-cc2c-4423-b310-148110b0ddfa.png">

I think the ```dispatchType``` of ```sink``` and ```foo``` should be ```Static```

[2022-10-25 08:24] Liyw979 commented on #1830
related: #1628

[2022-10-26 18:14] claudiuvursache commented on #1387
outdated...

[2022-10-26 18:14] #1387 closed

[2022-10-26 18:42] claudiuvursache commented on #1630
bug has been fixed for Kotlin, Java & Python the tracking for the JavaScript example still looks broken

[2022-10-26 18:42] #1630 closed

[2022-10-26 19:18] claudiuvursache commented on #1440
current state isn't too bad as to have this be a top priority, closing

[2022-10-26 19:18] #1440 closed

[2022-10-27 11:03] mpollmeier commented on #1893
initial version done via https://github.com/joernio/joern/pull/1902

[2022-10-27 13:59] mpollmeier commented on #1893
"initial" because we may modify it based on customer feedback. anyway, closing for now

[2022-10-27 13:59] #1893 closed

[2022-10-28 07:51] Runingtime opened #1913 "joern-export does not generate pdg as expected"
When parsing the following code(temp.c):
[code]
using commands:
[code]
there is no correct dot file in the folder, and only exists an empty one.
Is this a bug?

[2022-10-28 12:04] DavidBakerEffendi opened #1914 "jssrc2cpg: Require statements do not capture external module names"
JavaScript frontend does not capture imported module names from external dependencies. Below is a test case one can use with proposed outputs. Right now, both `express` and `app` return `ANY` at this point.

[code]

[2022-10-28 12:13] fabsx00 commented on #1914
This one is relevant for the type-inference effort, cc @pr0me

[2022-10-28 14:49] mpollmeier commented on #1913
I'm not a C expert, but what's that `__user` in the parameter list of your method declaration? It trips up our c frontend. If you remove it, it works.

cc @max-leuthaeuser

[2022-10-28 14:52] fabsx00 commented on #1913
It's a macro used in the linux kernel to denote data that is coming from userspace. If it trips up our frontend, then we need to find a way of fixing that as it is very common.

[2022-10-28 15:37] max-leuthaeuser commented on #1913
The macro needs to be available to Eclipse CDT (our underlying parser).
Two options:
1) Include it: `#include <linux/compiler_types.h>` (needs to be available on your system and run c2cpg with `--with-include-auto-discovery`)
2) Define it: `# define __user		__attribute__((noderef, address_space(__user)))`
(see: https://github.com/torvalds/linux/blob/master/include/linux/compiler_types.h)

As the p

[2022-10-28 19:59] DavidBakerEffendi opened #1915 "jssrc2cpg: ANY Type Returned for Primitive Literal Parameter on a Field-Based Call"
In the following code:

[code]

I've observed that:
* The `/` parameter on `.get` is being interpreted as an `ANY` literal when it's seemingly obvious what type it is. When asking for the label, code, and type full name, I get `(LITERAL,"/",ANY)`.
* The point above also happens when replacing the string literal with a number value.

A suggested fix is to parse the argument token to identify if it

[2022-10-28 20:01] DavidBakerEffendi commented on #1915
If this is seemingly easy to fix, point me to where this construct is created, and I'll happily implement this functionality + tests.

[2022-10-28 20:11] DavidBakerEffendi commented on #1915
Current workaround:
[code]

[2022-10-29 02:18] Runingtime commented on #1913
I see, thank you.

[2022-10-29 02:18] #1913 closed

[2022-10-29 08:58] max-leuthaeuser commented on #1915
They were already available as `dynamicTypeHintFullName`.
This PR adds the types also as typeFullName for primitive types: https://github.com/joernio/joern/pull/1916

[2022-10-29 11:46] HJX-zhanS opened #1917 "Can joern-cli parse a single java source code?"
When I use `joern-parse.bat D:\MyCode\temp\test\0ed0fc508c197e3cd9a8c3fee60bc3ca-1.3_bug.java`, I get an error:

[code]

Can joern-cli parse a single java source code?

[2022-10-29 12:28] mpollmeier commented on #1917
Yes I'm afraid you'll need to pass the surrounding directory to joern-parse - our javasrc frontend requires it to be that way. Not sure about the reasoning for this.
@johannescoetzee may know more..?

[2022-10-30 08:35] #1915 closed

[2022-10-30 09:52] DavidBakerEffendi commented on #1915
Ah I see, got it, I should check there more often thanks!

[2022-10-31 02:38] HJX-zhanS commented on #1917
Thanks, in my scene, there is only one .java file in the folder, like `test\0ed0fc508c197e3cd9a8c3fee60bc3ca-1.3_bug.java`. If I set the target path to `test`, the joern-parse.bat can work normally. However, if I use the path of the .java file, like `test\0ed0fc508c197e3cd9a8c3fee60bc3ca-1.3_bug.java`, I encounter the above problems.

[2022-11-01 08:59] Liyw979 opened #1920 "Dataflow of field access"
[code]
no flow

[code]
has flow
[code]
casue:
https://github.com/joernio/joern/blob/d152edf45870217ddfc91a2c8fff89dfd568ca31/dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/passes/reachingdef/DdgGenerator.scala?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L59-L66
no  ```EdgeTypes.REACHI

[2022-11-01 10:16] a0x77n opened #1921 "Dataflow semantic of assignments"
Hi, I just noticed that data does not propagate over multiple assignments, e.g., `a = b = c`.  The dataflow semantic for assignments should include the return value as output.

[2022-11-01 10:45] a0x77n commented on #1921
Actually, it's my understanding that the return value should be considered as output for all expressions, e.g., `a = val++` does not work with the current semantic as well. Something like `sink(val++)` does work, though.

[code]

[2022-11-01 15:17] Liyw979 opened #1926 "Is it possible to release test artifacts for python, php, java and jimple?"
I want to reuse the test fixtures in my project.
Can this be done be a PR? like adding this line in ```build.sbt```
`Test / packageBin / publishArtifact := true`

[2022-11-01 15:36] ml86 commented on #1926
Which classes specifically are you interested in? I was already pondering the release of test artefacts, but maybe it is better to do some restructuring first.

[2022-11-01 15:48] Liyw979 commented on #1926
classes like ```PySrc2CpgFixture```
<img width="701" alt="image" src="https://user-images.githubusercontent.com/16919236/199275994-23039f07-55ed-4721-8500-1cc559ba8601.png">
no test jar for ```python```
<img width="627" alt="image" src="https://user-images.githubusercontent.com/16919236/199276362-56cf4667-0295-4af0-8ca7-b3bac9a49e21.png">
test jar for ```c```

[code]

[2022-11-02 01:32] Liyw979 opened #1927 "So many this in the search path"
[code]
https://github.com/joernio/joern/blob/02452f153c27690e5d886c9db88b95715a9afee6/dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/queryengine/TaskSolver.scala?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L61
![image](https://user-images.githubusercontent.com/16919236/199372754-387e0

[2022-11-02 02:01] Liyw979 commented on #1927
consequence:  For this test case, no flow is found.
[code]
but after I do this
[code]
Flow is found.
[code]

[2022-11-02 11:51] Liyw979 commented on #1926
#1930

[2022-11-02 11:51] #1926 closed

[2022-11-02 12:57] ml86 commented on #1926
All test code is now released as separate test artifacts. For reference: https://github.com/joernio/joern/pull/1930

[2022-11-03 06:24] max-leuthaeuser commented on #1895
As we do not know what `sink` actually is we set it correctly I guess (also required for call linking at a later stage). For `foo` we could set it here (`const` and directly in the same scope) - but this would  be no general solution.

[2022-11-03 06:29] Liyw979 commented on #1895
I get it. Thank you!

[2022-11-03 06:59] Liyw979 commented on #1895
But in Js, We must do ```this.sink``` or ```bar.sink``` to do a dynamic call. Am I right ?

[2022-11-03 07:28] max-leuthaeuser commented on #1895
Well, the semantics for `this` are rather complicated (https://www.w3schools.com/js/js_this.asp).
We did not want to rebuild all these rules here so the linking avoids looking at `this`.

See:
 - https://github.com/joernio/joern/blob/master/joern-cli/frontends/x2cpg/src/main/scala/io/joern/x2cpg/passes/callgraph/StaticCallLinker.scala
 - https://github.com/joernio/joern/blob/master/joern-cli/front

[2022-11-03 07:42] Liyw979 commented on #1895
Ah, I mean that the ```sink(x)``` is not ```this.sink(x)``` or ```others.sink(x)``` so we can say  ```sink(x)``` is a static call.

[2022-11-03 08:24] max-leuthaeuser commented on #1895
Hm yes, I guess we could do this. I'll test that in a separate PR.

[2022-11-03 08:35] Liyw979 commented on #1895
Thanks

[2022-11-03 08:46] max-leuthaeuser commented on #1895
Ok, does not work as we still have no way to determine the correct call fullnames.
Hence, we can't link statically. In your small example it could work (everything is locally in the same scope etc.) but in general the missing full names get us nowhere.

[2022-11-03 08:55] Liyw979 commented on #1895
Yes, I know the both ```static linker``` and ```dynamic linker``` are depend on ```fullnames``` and they are not working because of the fullname issue.
In the issue, I just want to point out that we should set the property ```DISPATCH_TYPE``` of ```sink(x)``` to static, though this will not help the linking stage.

[2022-11-03 09:03] max-leuthaeuser commented on #1895
Sadly, that would also render the JavascriptCallLinker useless (relies on fullnames for static calls also) and method stubs are generated incorrectly as well. This (down the pipeline) causes issues with require/import resolution and more.

We would have to make an additional switch in all linkers/stub generators (handle/ignore the situation static call + no fullname) or run an additional pass afte

[2022-11-03 09:08] Liyw979 commented on #1895
Looks complicated. I will take a deeper look at ```JavascriptCallLinker``` to see if I can help.

[2022-11-03 09:30] max-leuthaeuser commented on #1895
We could something like https://github.com/joernio/joern/pull/1937.
Lets see what @fabsx00 thinks.

[2022-11-03 10:49] ml86 commented on #1895
We can not make the `sink` call static because it simply is not. Not in this example and not in general. Calls in Javascript are dispatched dynamically even if there is no instance object explicitly given. This is because calls which are just `<someIdentifier>()` like all other calls in JS are under the hood a function/method pointer.
I suggest we just leave it as it is and have passes like `Javas

[2022-11-03 13:20] Liyw979 commented on #1895
Maybe we can think of this in anther way:

- when ```DISPATCH_TYPE``` is ```static```, ```StaticCallLinker``` is used.
- when ```DISPATCH_TYPE``` is ```dynamic```, ```DynamicCallLinker``` is used.

In this case, which linker should we use to link ```sink(x)```?

[2022-11-03 14:33] Liyw979 commented on #1895
Yes, JS is so dynamic. It's confusing to model dynamic behavior in JS using DISPATCH_TYPE = static.
But since the cpg of joern is a intermediate representation and we are doing translation. It's a little bit acceptable that the representation is not 100% consitence with true language behavior I guess.

[2022-11-03 15:20] ml86 commented on #1895
There are other code parts which rely on the current modeling so changing that would need a good reason. Can you please reiterate why you want to treat those `sink(x)` calls as STATIC?

[2022-11-04 00:48] Liyw979 commented on #1895
My starting point is that we should use ```StaticCallLinker``` to link ```sink(x)```, in case that we do figure out correct ```fullnames``` somehow **later**.

[2022-11-04 00:58] Liyw979 commented on #1895
Or maybe we can add one more property ```LINKER_TYPE``` in the ```Call``` node:

- use ```DISPATCH_TYPE``` to model actual behavior
- use ```LINKER_TYPE``` as a flag to indicate which ```Caller``` will be used.

[2022-11-04 06:37] anushka192001 opened #1945 "these cpg generated in graphml or graphson format do not have pdg relations(only AST and CFG ) . how to get PDG relations also in the cpg files generated?"
https://drive.google.com/file/d/1ScclXzLMNFs5G3aDiA3R4l6inxWA9O3O/view?usp=share_link
(link to the graphml file generated)

https://drive.google.com/file/d/19kFG_7xbEkhEiyUvM56edqdMmn_wrcWO/view?usp=sharing
(link to the code file whose cpg this is)

[2022-11-04 12:00] ml86 commented on #1895
@Liyw979 So i take it that this is more about structuring of program logic than new features or problems in the existing code?

[2022-11-05 03:22] Liyw979 commented on #1895
Yes @ml86

[2022-11-05 17:19] max-leuthaeuser commented on #1945
Have you read that: https://docs.joern.io/exporting?
Especially: https://docs.joern.io/exporting#the-command-line-tool-joern-export

[2022-11-05 21:45] anushka192001 commented on #1945
@max-leuthaeuser  i don't want pdg seperately , i want pdg also in cpg file.

[2022-11-10 08:39] anushka192001 commented on #1945
@max-leuthaeuser follow please resolve this issue.

[2022-11-10 13:52] #1914 closed

[2022-11-14 08:22] wcy1997 opened #1976 "Error creating project for input path: `./x42/c`"
When I import sample codes, I have such a problem.

`Error running shell command: List(/usr1/joern/joern-cli/c2cpg.sh, ./x42/c, --output, /usr1/joern/workspace/workspace/x42-c/cpg.bin.zip)
io.joern.console.ConsoleException: Error creating project for input path: `./x42/c`
`
I wonder why this problem happened and how to solve this problem.

[2022-11-14 11:53] DavidBakerEffendi opened #1977 "querydb: Webpage Not Updated With Latest Queries"
I've noticed that [https://queries.joern.io](https://queries.joern.io) does not reflect the latest queries - is this perhaps reflecting the queries on the archived repository?

[2022-11-14 11:57] claudiuvursache commented on #1977
@DavidBakerEffendi it's not the archived queries that are being shown, it's just that the process of updating queries on the website is currently manual, see https://github.com/joernio/query-database-website/commit/30dec24829b5f7a7d5a0d7d2a7cf88778c2cd199

[2022-11-14 11:59] DavidBakerEffendi commented on #1977
@claudiuvursache Ah I see! Noted, thanks.

[2022-11-14 11:59] #1977 closed

[2022-11-15 01:41] wcy1997 commented on #1976
I’ve solved this problem by updating jdk8 to jdk11.

[2022-11-15 07:51] Liyw979 opened #1982 "Need Help: some reaching def edge is missing since 1.1.1251"
before
![image](https://user-images.githubusercontent.com/16919236/201859388-45fc3ce4-790a-49d1-9e11-3c6c2b2bc3ae.png)
after, 3 reachingdef egdes are now missing.
![image](https://user-images.githubusercontent.com/16919236/201859476-de658ba6-eca0-4adb-904d-2ffec1d9cd68.png)
Can't share the code sample.

[2022-11-15 08:29] Liyw979 commented on #1982
In 1.1.1251, 2 semantics are added to ```split```.
https://github.com/joernio/joern/blob/e8d17cba2d8e4b9825e512572b08fa8aba038450/dataflowengineoss/src/main/scala/io/joern/dataflowengineoss/DefaultSemantics.scala#L117-L118
In my source code, ```commands``` is excatly the arugment of ```split```.
After deleting these 2 line, reaching def edges are back.

[2022-11-15 11:12] Liyw979 commented on #1982
I try ```List((1, -1))``` and still can't get the flow.
This is weird. I think ```List((1, -1))``` should be good too.

[2022-11-15 11:14] #1976 closed

[2022-11-15 11:19] DavidBakerEffendi commented on #1982
Hmm, since `split` is an instance method, maybe one should try also self taint the receiver. Try adding `(0,0)`

[2022-11-15 11:50] Liyw979 commented on #1982
Both ```List((0,0), (0, -1))``` ,```List((0, -1))```  works for me, thanks for the help @DavidBakerEffendi

[2022-11-15 11:50] #1982 closed

[2022-11-15 13:57] DavidBakerEffendi commented on #1982
Thanks for letting me know, @Liyw979! I'll make a PR to fix those

[2022-11-16 03:26] VainlyStrain opened #1989 "next and hasNext not a member of List[A] anymore?"
I've noticed that some of my queries don't compile anymore with the latest version of joern, because `hasNext` and `next` seem to be undefined on data structures, like List[String]. Has there been an intentional removal causing this? The queries compiled fine a few months ago.

Here is an example causing an error:
[code]

The errors look like this:
[code]
and `value next is not a member of List[St

[2022-11-16 07:54] mpollmeier commented on #1989
thanks for reporting, yes that'll be my change - I'll TAL and see how we best handle this

[2022-11-16 08:04] mpollmeier commented on #1989
hmm, actually no I can't reproduce this. can you share a more complete example?
here's what I tried:

test-script-list-next.sc
[code]

and then
[code]

compiles and runs just fine with latest joern from the repo (i.e. `git pull && sbt clean stage`)

[2022-11-16 17:13] VainlyStrain commented on #1989
Hi!

Interestingly, the code compiles fine when directly pasted into the joern shell. However, it seems to fail when used as --import. Unfortunately, I have to redact some parts of the exact queries, because it would disclose an ongoing, not yet published research, but I am quite certain that the error is not caused in the redacted part. The base structure is as follows:

file: helper.sc
[code]

f

[2022-11-17 07:24] mpollmeier commented on #1989
I can now reproduce it. if i use `--import` with my script above (rather than `--script`) i get the same error.
will have a look on the best way forward.
Thank you!

[2022-11-17 08:08] mpollmeier commented on #1989
I gave this some thought, and IMO the best way forward is to change your script.
Let me explain: the error is `value next is not a member of List[String]` - in other words, there is no function `.next` on a `List`. This is true and was always true, so why did it work before?
The reason it worked before is that Scala automatically applied an (implicit) conversion from `List` to `Traversal`, because

[2022-11-17 22:31] #1989 closed

[2022-11-20 14:11] Liyw979 opened #2003 "Why doest jssrc2cpg create TYPE_DECL nodes for every function decoration?"
[code]
<img width="1253" alt="image" src="https://user-images.githubusercontent.com/16919236/202906825-ce8f6310-468c-4bd1-8cc2-f64284deeaea.png">

[2022-11-20 20:13] port513 opened #2004 "Add support for C#"
Used to use CodeQL but I do like Joern better but I do miss support for C#
Would make my day easier if I could use only one platform...

[2022-11-20 21:47] claudiuvursache opened #2005 "workspace directory created in current working directory instead of having a shared one"

[2022-11-21 10:46] ml86 commented on #2003
@Liyw979 This TYPE_DECL is required for the METHOD_REF to `foo`. The METHOD_REF not just requires a method full name but also a type full name which at the moment is a detail just required for the closed source data flow tracker.

[2022-11-21 14:07] Liyw979 commented on #2003
The ```type full name``` of ```foo``` looks confusing.
<img width="331" alt="image" src="https://user-images.githubusercontent.com/16919236/203073010-c63c1602-3789-45e3-8eb8-d25cf9e13318.png">
<img width="927" alt="image" src="https://user-images.githubusercontent.com/16919236/203072735-4470c8ee-c3d2-4ef9-9d41-8d84838b093c.png">
Since this is required by the closed tracker, I will skip this. Thank

[2022-11-21 14:07] #2003 closed

[2022-11-21 15:54] Liyw979 commented on #2003
You can see from the screen shot that type of ```foo`` is ```funciton```.

[2022-11-23 07:15] itsacoderepo opened #2012 "[ghidra2cpg] Fewer memcpy callIns than in ghidra (ui)/ida"
Reported on discord. Importing the attached binary and querying for the number of `memcpy` calls, returns `84`.  IDA and the ghidra UI reports more than 84.

Reproduction steps:
[code]

Screenshot
![image](https://user-images.githubusercontent.com/5180740/203488859-4750c8c6-530d-4f8b-adae-b6550e2706f4.png)

**Please be careful because this is an unchecked file:**[coen.aym.zip](https://github.com/j

[2022-11-23 07:26] itsacoderepo opened #2013 "[ghidra2cpg] NPEs during PE binary import"
Input file was cmd.exe, reported through discord.

[code]

[code]

[2022-11-24 08:24] 75ACOL opened #2016 "The link between two JAR packages is disconnected. The source code is not broken. Same source and sink points"

[2022-11-24 14:07] DavidBakerEffendi opened #2017 "Duplicate Method Stubs: <operator.alloc>"
When referring to the [`opencrx`](https://github.com/opencrx/opencrx) repository, there is some odd behaviour when considering the `<operator>.alloc` method/calls.

[code]

In short, there are `663` method nodes for `<operator>.alloc`. When looking at each time `<operator>.alloc` is called, it links to all 663 methods, e.g.,

[code]

This means bad things for the data-flow tracker, although minor

[2022-11-24 15:57] ml86 commented on #2016
Unclear what this ticked is supposed to mean. Please reopen if you have a proper issue/problem description.

[2022-11-24 15:57] #2016 closed

[2022-11-24 16:09] ml86 commented on #2017
Having different signatures for the `<operator>.alloc` calls does not make sense. An empty signature is fine.

[2022-11-25 07:21] DavidBakerEffendi commented on #2017
Seems that simply removing this line causes issues elsewhere, I assume it's used for type inference information. @johannescoetzee do you have time to investigate, otherwise I can dive into this and see if I can maintain all passing tests while removing signature info from this. Perhaps linking a type ref from the `alloc` site or something.

[2022-11-25 09:58] INT2ECALL opened #2022 "joern --script --param error"
Joern print this error when I run a script with a parameter:
[code]

Here are my script content:
[code]
How to solve this problem?

[2022-11-25 13:11] max-leuthaeuser commented on #2022
I guess you are using the Windows Powershell?
With that, the syntax becomes:
`> joern --script C:\Users\admin\Desktop\test.sc --params "cpgFile = cpg.bin"`

[2022-11-26 04:29] billquan opened #2025 "joern Python"
Somehow it seems I can't get joern work for python source code. It only generates empty graphs even if I use the test case from https://github.com/joernio/joern/blob/master/tests/code/pythonsrc/simple.py

I'm using the joern interactive mode. What is wrong?
![image](https://user-images.githubusercontent.com/65994455/204072255-beeb14c6-eed4-4641-8cc1-2eee122cbea7.png)

Thank you!

[2022-11-26 10:35] 75ACOL commented on #2016
Thanks for answer. I mean, the data flow link between the two jars is broken. If I can find the source code, it broke when I compiled the project into two packages. Is it because SOOT does not support link search between two JAR packages

[2022-11-27 14:29] Liyw979 commented on #2025
Did you put you code in a folder and import that folder?

[2022-11-27 18:26] itsacoderepo commented on #2025
Hello @billquan,

it works doing it this way:
![image](https://user-images.githubusercontent.com/5180740/204152802-3061d28b-7226-4e50-95ef-af644372bc1e.png)

[2022-11-29 03:49] Liyw979 opened #2032 "Where does the TypeDecl come from?"
![image](https://user-images.githubusercontent.com/16919236/204431678-f2279e61-13f7-4a1f-9f6d-fc16f7dd67bc.png)

https://github.com/joernio/joern/blob/ebc6a890b402fd242be1c7520c4a68544c617651/semanticcpg/src/main/scala/io/shiftleft/semanticcpg/language/types/expressions/generalizations/ExpressionTraversal.scala#L61-L62

Can we do ```collectAll[Method]``` here ?

[2022-11-29 07:51] mpollmeier commented on #2032
I'd agree - @ml86 wdyt?

[2022-11-29 09:20] DavidBakerEffendi commented on #2004
We currently have `jimple2cpg` and it appears there exists some kind of [.NET extension for Soot using JNI](https://github.com/schtho/soot-dotnet).  A good starting point for anyone who would like to tackle this.

[2022-11-29 10:11] ml86 commented on #2032
@Liyw979 Please specify which frontend and which input project/artifact you used and we will fix this bug.

But we dont really want to change the traversal step because it might hide similar bugs in the future.

[2022-11-29 12:09] maltek opened #2034 "jssrc: incomplete code field for destructuring assignments"
[code]

The block node for this destructuring assignment only has the code of left-hand-side. This is a purely presentational matter - I don't know think that it breaks anything, but it would be nice to have a more complete code field there.

[2022-11-29 14:37] #2034 closed

[2022-11-29 16:49] johannescoetzee commented on #2017
@DavidBakerEffendi I'll have a look.

[2022-11-29 18:41] #2017 closed

[2022-11-30 01:56] Liyw979 commented on #2032
Not able to reproduce this for now. I will reopen this issue when I meet this again.

[2022-11-30 03:52] #2022 closed

[2022-11-30 04:05] INT2ECALL opened #2040 "Wrong with modifierType"
I found that the modifierType of method is wrong When I try to analyze [commons-collections-3.2.1](https://repo1.maven.org/maven2/commons-collections/commons-collections/3.2.1/commons-collections-3.2.1-sources.jar)
The modifierType of method LazyMap.<init> is protected, but joern print public :

![image](https://user-images.githubusercontent.com/91420400/204705035-745c2e53-9fb9-41c0-a047-ad212d322

[2022-11-30 04:06] #2040 closed

[2022-11-30 06:02] INT2ECALL opened #2041 "Wrong with modifierType"
I found that the modifierType of method is wrong When I try to analyze [commons-collections-3.2.1](https://repo1.maven.org/maven2/commons-collections/commons-collections/3.2.1/commons-collections-3.2.1-sources.jar)

The modifierType of method LazyMap is protected, but joern print public :

![image](https://user-images.githubusercontent.com/91420400/204705421-a7ede62c-27ee-45d8-962c-0a51e693c453.pn